h1{
    
    float:left;
}

.navLinks{
    float:right;
    padding: 12px 0px 12px 0px;
}

.navLinkItem{
    padding: 0px 16px 0px 16px;
}

.searchBar{
    margin: 15px 15px 15px 15px;
}

.search{
    float:right;
    margin: 0px 15px 0px 0px;
}