/* general rules */
a {
  font-family: 'Raleway', sans-serif;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

body, html, #home{
  height: 100%;
  background-color: #1e252b;
}

.list-group-item {
  line-height: 2.5;
}

/* Heading */
.header{
  height: 120px;
}

.headerTitle{
  text-align: center;
  margin: auto;
  font-size: 4rem;
  font-family: 'Advent Pro', sans-serif;
  color: #f3f7f5;
  font-weight: 600;
}

/* Search */

.searchBar{
  margin: 15px 10px 15px 10px;
}

.srchType{
  font-size: 0.8rem;
  font-family: 'Raleway', sans-serif;
}

.submit{
  font-size: 0.8rem;
  font-family: 'Raleway', sans-serif;
}

#help{
  background-color: #ec4a3d;
  color: #f3f7f5;
  font-size: 12px;
  border: 2px solid #f3f7f5;
  height: 22px;
  width: 22px;
  padding: 0 0 0 0;
  border-radius: 50px;
  margin: 0px 0px 0px 0px;
  font-weight: bolder;
}

/* Suggestions */
.suggestionsTitle{
  font-size: 3rem;
  text-align: center;
  margin: 20px 0 10px 0;
  color: #f3f7f5;
  text-shadow: 2px 2px 0px #bc3f53;
  font-family: 'Advent Pro', sans-serif;
}

.topTitle {
  font-size: 2rem;
}

.card-header {
  background-color: #F3F7F5;
  background-image: linear-gradient(to left, #9590A9, #f3f7f5);
  border-left: 4px solid #bc3f53;
  border-radius: 0px;
  margin: 10px 0px 10px 0px;
  font-family: 'Advent Pro', sans-serif;
}
.card {
  border-radius: 0px;
  border: none;
  background: transparent;
}
.card-header:first-child {
  border-radius: 0px;
}
.card-body {
  margin: 10px 0 10px 0;
  padding: 10px;
  background-image: linear-gradient(to left, #9590A9, #f3f7f5);
  border-right: 4px solid #bc3f53;
}
.btn-block {
  text-decoration: none;
}
.btn-block:focus {
  box-shadow: none!important;
  outline: 0;
}

.heartBtn {
  color: #ec4a3d;
  font-weight: 700;
  font-size: 20px;
}
.song {
  margin: 0px 20px 5px 10px;
  padding: 8px;
}

#loginButton, #dropdownSearch {
  background-color: #ec4a3d;
  border: none;
  border-radius: 0px;
  /* box-shadow: 4px 4px 0px #9590a9; */

}
#submit {
  background-color: #9590a9;
  border: none;
  box-shadow: 4px 4px 0px #bc3f53;
  border-radius: 0px;
  color: #f3f7f5;
}
#example-text {
  background-color: #f3f7f5;
  border: none;
  border-radius: 0px;
  box-shadow: 4px 4px 0px #bc3f53;
  font-family: 'Raleway', sans-serif;

  /* box-shadow: 0px 3px 5px #9590a9 inset; */
}

/* navbar */
.navbar {
  background-color: #F3F7F5;
  border-top: 4px solid #bc3f53;
}
.navbar-title {
  text-decoration: none!important;
  font-family: 'Advent Pro', sans-serif;
  font-size: 30px;
  color: #1e252b;
  font-weight: 600;
  /* letter-spacing: 3px; */
}
.navbar-title:hover {
  color: #1e252b!important;
}

/************creator page**************/
.profileL {
  background-image: linear-gradient(to top, #9590A9, #f3f7f5);
}
.profileR {
  background-image: linear-gradient(to top, #9590A9, #f3f7f5);
}
.creatorTitle {
  font-family: 'Advent Pro', sans-serif;
  padding-top: 20px;
  padding-left: 15px;
}
.externalIcon, .gitIcon {
  font-size: 30px;
  color: #ec4a3d!important;

}